.card {
  background: rgb(255, 255, 255);
  width: 20rem;
  height: 25rem;
  border-radius: 1rem;
  transition: 1s ease all;
  color: rgb(0, 0, 0);
}
.img img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
.img {
  position: relative;
}
.product_name {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  font-weight: bold;
  font-size: 1.3rem;
  background: rgba(0, 128, 0, 0.486);
}

h3 {
  font-size: 1.3rem;
  font-weight:700;
}
.price {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
}
.options {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 2rem;
}
.options .btn {
  padding: .7rem;
  width: 2.4rem;
  border: none;
  background: #3E70A1;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  height: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.options .btn:hover {
 background: #345d86;
 color: black;
}
.options .btn-disabled {
  padding: .7rem;
  width: 2.4rem;
  border: none;
  background: rgba(61, 66, 61, 0.26);
  color: white;
  border-radius: 50%;
  height: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}