body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.bg-primary {
    background-color: blue;
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: scroll;
}
.card {
    width: 20rem;
    height: 25rem;
    border-radius: 1rem;
    transition: 1s ease all;
    color: aliceblue;
}
.img img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}
.img {
    position: relative;
}
.product_name {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
    background: rgba(0, 128, 0, 0.486);
}

h3 {
    font-size: 2rem;
    font-weight:700;
}
.price {
    display: flex;
    align-items: center;
    justify-content: center;
}
.options {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.options .btn {
    padding: .7rem;
    width: 15%;
    border: none;
    background: green;
    color: white;
    border-radius: .3rem;
    cursor: pointer;
}
.options .btn:hover {
   background: rgb(4, 87, 4);
   color: black;
   border: 1px solid green;
}
.options .btn-disabled {
    padding: .7rem;
    width: 15%;
    border: none;
    background: rgba(61, 66, 61, 0.26);
    color: white;
    border-radius: .3rem;
}

.grid {
    display: grid;
    gap: .3rem;
    height: 100%;
}

/* nav */
.nav {
    width: 100%;
    background-color: #2C1A08;
    color: white;
    height: 4rem;
    font-weight: bold;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}
.balance {
    font-size: 1.7rem;
}

.flex-default {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Tamaño grande Computadoras y TV */
.col-1 { grid-template-columns: repeat(1, 1fr); }
.col-2 { grid-template-columns: repeat(2, 1fr); }
.col-3 { grid-template-columns: repeat(3, 1fr); }
.col-4 { grid-template-columns: repeat(4, 1fr); }
.col-5 { grid-template-columns: repeat(5, 1fr); }
.col-6 { grid-template-columns: repeat(6, 1fr); }
.col-7 { grid-template-columns: repeat(7, 1fr); }
.col-8 { grid-template-columns: repeat(8, 1fr); }
.col-9 { grid-template-columns: repeat(9, 1fr); }
.col-10 { grid-template-columns: repeat(10, 1fr); }
.col-11 { grid-template-columns: repeat(11, 1fr); }
.col-12 { grid-template-columns: repeat(12, 1fr); }

.span-1 { grid-column: span 1; }
.span-2 { grid-column: span 2; }
.span-3 { grid-column: span 3; }
.span-4 { grid-column: span 4; }
.span-5 { grid-column: span 5; }
.span-6 { grid-column: span 6; }
.span-7 { grid-column: span 7; }
.span-8 { grid-column: span 8; }
.span-9 { grid-column: span 9; }
.span-10 { grid-column: span 10; }
.span-11 { grid-column: span 11; }
.span-12 { grid-column: span 12; }

/* ====================================================================
  RESPONSIVE
==================================================================== */
/* Tamaño Mediano - Tablets */
@media screen and (max-width: 992px) {
    .col-md-1 { grid-template-columns: repeat(1, 1fr); }
    .col-md-2 { grid-template-columns: repeat(2, 1fr); }
    .col-md-3 { grid-template-columns: repeat(3, 1fr); }
    .col-md-4 { grid-template-columns: repeat(4, 1fr); }
    .col-md-5 { grid-template-columns: repeat(5, 1fr); }
    .col-md-6 { grid-template-columns: repeat(6, 1fr); }
    .col-md-7 { grid-template-columns: repeat(7, 1fr); }
    .col-md-8 { grid-template-columns: repeat(8, 1fr); }
    .col-md-9 { grid-template-columns: repeat(9, 1fr); }
    .col-md-10 { grid-template-columns: repeat(10, 1fr); }
    .col-md-11 { grid-template-columns: repeat(11, 1fr); }
    .col-md-12 { grid-template-columns: repeat(12, 1fr); }

    .span-md-1 { grid-column: span 1; }
    .span-md-2 { grid-column: span 2; }
    .span-md-3 { grid-column: span 3; }
    .span-md-4 { grid-column: span 4; }
    .span-md-5 { grid-column: span 5; }
    .span-md-6 { grid-column: span 6; }
    .span-md-7 { grid-column: span 7; }
    .span-md-8 { grid-column: span 8; }
    .span-md-9 { grid-column: span 9; }
    .span-md-10 { grid-column: span 10; }
    .span-md-11 { grid-column: span 11; }
    .span-md-12 { grid-column: span 12; }

}

/* Tamaño Pequeño - Smarphone */
@media screen and (max-width: 576px) {
    .col-sm-1 { grid-template-columns: repeat(1, 1fr); }
    .col-sm-2 { grid-template-columns: repeat(2, 1fr); }
    .col-sm-3 { grid-template-columns: repeat(3, 1fr); }
    .col-sm-4 { grid-template-columns: repeat(4, 1fr); }
    .col-sm-5 { grid-template-columns: repeat(5, 1fr); }
    .col-sm-6 { grid-template-columns: repeat(6, 1fr); }
    .col-sm-7 { grid-template-columns: repeat(7, 1fr); }
    .col-sm-8 { grid-template-columns: repeat(8, 1fr); }
    .col-sm-9 { grid-template-columns: repeat(9, 1fr); }
    .col-sm-10 { grid-template-columns: repeat(10, 1fr); }
    .col-sm-11 { grid-template-columns: repeat(11, 1fr); }
    .col-sm-12 { grid-template-columns: repeat(12, 1fr); }

    .span-sm-1 { grid-column: span 1; }
    .span-sm-2 { grid-column: span 2; }
    .span-sm-3 { grid-column: span 3; }
    .span-sm-4 { grid-column: span 4; }
    .span-sm-5 { grid-column: span 5; }
    .span-sm-6 { grid-column: span 6; }
    .span-sm-7 { grid-column: span 7; }
    .span-sm-8 { grid-column: span 8; }
    .span-sm-9 { grid-column: span 9; }
    .span-sm-10 { grid-column: span 10; }
    .span-sm-11 { grid-column: span 11; }
    .span-sm-12 { grid-column: span 12; }

}
.mt-1 {
    margin-top: 1rem;
}